@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight:  400;
    line-height: 1.4;
    letter-spacing: -0.64px;
    color:#333;
}

/* 공통요소 */
.container{
    position: relative;
    display: block;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.wrap {
    position: relative;
    display: block;
}
/* //공통요소 */
/* 상단영역 */
.header{
    position: absolute;
    left:0;
    top: 0;
    display: block;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    z-index: 999999;

}
/* 상단 주메뉴 고정 */
.header-focus {
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    animation-name: slidedown;
    animation-duration: 0.5s;
}

@keyframes slidedown{
    from{
        margin-top: -80px;
    }
    to{
        margin-top: 0px;
    }
}

.header-focus .logo{
    background: url('../images/logo_dark.svg') no-repeat center !important;
    background-size: contain;
}
.header-focus .gnb a {
    color: #20283b !important;
    font-weight: 400 !important;
}

.header>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    display: block;
    width: 90px;
    height: 27px;
    background:url('../images/logo.png') no-repeat center;
    background-size: contain;
}
.gnb{
    display: block;
}
.gnb-list{
    display: flex;
}
.gnb-list>li{
    display: block;
    margin-left:58px;
}
.gnb-list>li>a{
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1.2;
    text-transform:uppercase;
}
.gnb-list>li>a:hover{
    text-decoration: underline;
}

/* 비쥬얼영역 */

.visual{
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.sw-visual{

}
.visual-box{
    width: 100%;
    height: 100vh;
}

.v1 {
    background: url('../images/visual_1.jpg') no-repeat center;
    background-size:cover;
}
.v2 {
    background: url('../images/visual_2.jpg') no-repeat center;
    background-size:cover;
}
.v3 {
    background: url('../images/visual_3.jpg') no-repeat center;
    background-size:cover;
}
.v4 {
    background: url('../images/visual_4.jpg') no-repeat center;
    background-size:cover;
}
.v5 {
    background: url('../images/visual_5.jpg') no-repeat center;
    background-size:cover;
}
.v6 {
    background: url('../images/visual_6.jpg') no-repeat center;
    background-size:cover;
}
.visual-box .container{
    display: flex;
    align-items: center;
    height: 100%;
}
.visual-box .container img{
    height: 156px;
    margin-left: 20px;
    transform: translateX(-50px);
    opacity:0;
    transition: transform 0.2s, opacity 0.2s !important;
}
/* .sw-visual .swiper-wrapper .swiper-slide-active .visual-box .container img { */
.sw-visual .swiper-wrapper .swiper-slide-active img{
    transition: transform 1.0s, opacity 1.0s;
    opacity: 1 !important;
    transform: translateX(0) !important;
}
/* .sw-visual .swiper-wrapper .swiper-slide-prev img{
    transition: transform 0.6s, opacity 0.6s;
    opacity: 0 !important;
    transform: translateX(0) !important;
} */

.sw-visual-pg{
    left: 50% !important;
    transform: translateX(700px);
    width: 8px !important;    
    bottom: calc(50% - 50px) !important;
}
.sw-visual-pg .swiper-pagination-bullet {
    position: relative;
    
    border: 1px solid #fff;
    background: rgba(255,255,255,0.0);
    opacity: 1;
    transition: background 0.3s;
    overflow: hidden;
}

.sw-visual-pg .swiper-pagination-bullet:hover {
    background: rgba(255,255,255,1.0);
}

.sw-visual-pg .swiper-pagination-bullet::before{
    content: '';
    position: absolute;
    left: -1px;
    top: 100%;
    display: block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 100%;
}

.sw-visual-pg .swiper-pagination-bullet-active::before {
    top: -1px;
}
.sw-visual-pg-active::before {
    animation: ani-down 1.0s;
}

@keyframes ani-down{
    0%{
        top:-1px;
    }
    100%{
        top: 100%;
    }
}


/* 스토리영역 */
.story{
    position: relative;
    display: block;
}

.story>.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.story-box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    width: 720px;
    height: 720px;
}

.story-box-link{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.story-box-tit {
    font-size: 16px;
    font-weight: 400;
    color: #fff;    
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 5px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    
    padding-top: 110px;
    z-index: 9;
    width: 100%;
}

.story-box-brand{
    width: 100%;
    padding-bottom: 60px;
    text-align: center
}

.story-box-desc{
    color: #333;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.64px;
    line-height: 1.46;

    width: 100%;
    padding: 0 100px;
}

.story-box-more{
    width: 100%;
    padding: 0 100px;
}

.story-box-bt{
    display: inline-block;
    border: 1px solid #222;
    padding: 0 45px;
    line-height: 45px;
    border-radius: 45px;

    color: #222;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.12px;
}

.story-box-bt::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../images/plus.svg') no-repeat center;
    margin: 0 10px;
}

.story-box-bt:hover {
    text-decoration: underline;
}

.story-box-top{
    position: absolute;
    right:0;
    top: -140px;

    align-content: center;

    height: 140px;
    background-color: #fff;
    z-index: 999;
}

.story-tit{
    font-size: 14px;
    font-weight:600;
    color:#222;
    text-transform: uppercase;
    margin-left: 100px;
    letter-spacing: 1.2px;
    font-family: 'Noto Sans KR', sans-serif;
}



.story-box-first{
    height: 580px;
}

.story-box-up{
    margin-top: -140px;
}

.story-1{
    background: #fff;

    align-content:  space-around;
}
.story-1 .story-box-more{
    padding-bottom: 55px;
}

.story-2{
    background: url('../images/story_1.jpg') no-repeat center;
    background-size: cover;

}
.story-2 .story-box-tit{
    color: #212529;
}

.story-3{
    height: 937px;
    background: url('../images/story_2.jpg')no-repeat center;
    background-size: cover;
}

.story-4{
    height: 937px;
    background: url('../images/story_3.jpg')no-repeat center;
    background-size: cover;
}

.story-5{
    background: url('../images/story_4.jpg')no-repeat center;
    background-size: cover;
}

.story-6{
    background: url('../images/story_5.jpg')no-repeat center;
    background-size: cover;
}

.story-7{
    background: url('../images/story_6.jpg')no-repeat center;
    background-size: cover;
}

.story-8{
        background: #fff;
        align-content: center; 
}

.story-8 .story-box-desc{
    margin-bottom: 45px;
    text-align: center;
}
.story-8 .story-box-more{
    text-align: center;
}

.story-9{
    background: #d0d2d5;
    align-content: center;    
}

.story-9 .story-box-more{    
    text-align: center;
}

.story-box-last{
    height: 140px;
}

/* 갤러리영역 */
.gallery{
    position: relative;
    display: block;
    width: 100%;
    height: 1440px;
    background: url('../images/img_office.jpg') no-repeat center;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}

.gallery .container{
    display: flex;
    flex-wrap: wrap;
}

.gallery-tit{
    width: 100%;

    font-size: 18px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    letter-spacing: 1.44px;
    line-height: 1.4;
    text-transform:uppercase;

    margin-top: 220px;
}

.gallery-desc{
    width: 100%;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 100;
    line-height: 1.4;
    letter-spacing: 1.44px;

    margin-top: 50px;
}

/* contatct영역 */
.contact{
    position: relative;
    display: block;
    background-color: #232c41;
}

.contact .container{
    display: flex;
    padding: 120px 0;
    justify-content: space-between;

}

.contact-box{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.63;
    letter-spacing: 0;
    color: rgba(255,255,255,0.7);

    text-align: center;
}

/* 브랜드영역 */
.brand{
    position: relative;
    display: block;

    background-color: #212a3d;
    padding-top: 170px;
    padding-bottom: 200px;   
}
.brand .container{
    display: flex;
    flex-wrap: wrap;
    
}
.brand-tit{
    width: 100%;
    font-size: 44px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.36;
    letter-spacing: 0;
    text-align: center;

    margin-bottom: 90px;
    
}
.brand-link{
    opacity: 0.5;
    /* border: 0.5px solid rgb(255,255,255,0.5); */
}

/* 하단영역 */
.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #20283b;
}

.f-top{
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.f-top .container{
    display: flex;
    padding: 80px 0;
}

.f-logo{
    /* flex-grow: 2; */
    width: 42%;
}
.f-logo img{
    width: 120px;
    height: auto;
}
.f-top-box{
    /* flex-grow: 1; */
    width: 29%;

    font-size: 12px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(255,255,255,0.7);
    letter-spacing: 0;
    line-height: 1.67;
}

.f-bottom{
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.f-bottom .container{
    display: flex;
    padding: 40px 0;
}


.copy {
    /* flex-grow: 2; */
    width: 42%;

    font-size: 12px;
    color: rgba(255,255,255.7);
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
}
.privacy {
    /* flex-grow: 1; */
    width: 29%;

    
    font-size: 12px;
    color: rgba(255,255,255.7);
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.insta {
    /* flex-grow: 1; */
    width: 29%;

    font-size: 12px;
    color: rgba(255,255,255.7);
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-family: 'Noto Sans KR', sans-serif;
}

